@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow&family=Pattaya&display=swap');

/*Reset CSS*/
* {
    margin: 0px;
    padding: 0px;
}

/*style of body*/
body {
	background: no-repeat linear-gradient(-45deg, #ffffff, #ffffff, #000000, #000000);
	background-size: 500% 10000%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a {
    text-decoration: none;
    color: #000;
}

/*style of navbar*/
.navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    position: sticky;
    top: 0px;
}

.navbar-title {
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: 'Pattaya', sans-serif;
}

.navbar-title h2:hover {
    color: orange;
}

/*Style of navbar-links content*/
.navbar-links ul {
    list-style-type: none;
}

.navbar-links li {
    display : inline-block;
    width: 33%;
    text-align: center;
}

.navbar-links ul::after {
    content: "";
    display: table;
    clear: both;
}

.navbar-links a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 1rem 0px;
    font-family: 'Lobster', cursive;
}

.navbar-links a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.prez {
    width: 60%;
    margin: 10rem auto;
    padding: 3rem;
    background-color: transparent;
    border: 2px solid gold;
}

.prez-title {
    width: 75%;
    margin: auto;
    padding-bottom: 2rem;
}

.prez-title h1 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.prez-title h1:hover {
    color: orange;
}

.prez-text p {
    font-family: 'PT Sans Narrow', sans-serif;
}

.projet1 {
    width: 50%;
    margin-left: 5rem;
    margin-top: 8rem;
    padding: 3rem;
    background-color: transparent;
    border: 2px solid gold;
}

.projet2 {
    width: 50%;
    margin-left: 40rem;
    margin-top: 5rem;
    padding: 3rem;
    background-color: transparent;
    border: 2px solid gold;
}

.projet-title {
    width: 75%;
    margin: auto;
    padding-bottom: 2rem;
}

.projet-title h1 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.projet-title h1:hover {
    color: orange;
}

.projet-text p {
    font-family: 'PT Sans Narrow', sans-serif;
}

.contact {
    width: 30%;
    margin-left: 10rem;
    margin-top: 5rem;
    padding: 3rem;
    background-color: transparent;
    border: 2px solid gold;
}

.contact-title {
    width: 75%;
    margin: auto;
    padding-bottom: 2rem;
}

.contact-title h1 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.contact-title h1:hover {
    color: orange;
}

.contact-text ul {
    list-style-type: none;
}

.contact-text li {
    font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom: 2rem;
}

.button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 3rem auto 30px auto;
    color: black;
    background-color: transparent;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

.contact-button a:hover {
    color: orange;
    background-color: transparent;
    border: 2px solid gold;
    box-shadow: 0px 0px 20px #666;
}


footer {
    width: 100%;
    background-color: transparent;
    position: sticky;
    bottom:0;
    padding-top:50px;
    height:50px;
}

footer p {
    display: block;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 1rem 3rem;
    font-family: 'Lobster', cursive;
}

footer p:hover {
    color: orange;
}

